
@{
    ViewBag.Title = "Responder";
    Layout = "~/Views/Shared/AlumnosLayout.cshtml";
}

@model calificaciones.Models.ResponderViewModel


<br />

<div class="container">
    <div>
        @Model.Pregunta.Clase.Nombre - @Model.Pregunta.Tema.Nombre
    </div>

    <h3>@Model.Pregunta.Nro. @Model.Pregunta.Pregunta1 </h3>


    <div class="">
        <form action="@Url.Action("VerificarRespuesta", "Alumno")" method="post">
            <fieldset>
                <input type="hidden" name="IdPregunta" value="@Model.Pregunta.IdPregunta" />

                <div class="form-group">
                    <label>Se puede responder hasta: @Model.Pregunta.FechaDisponibleHasta</label>
                    @Html.TextAreaFor(model => model.RespuestaTextModel.Respuesta)
                    @Html.ValidationMessageFor(model => model.RespuestaTextModel.Respuesta, "", new { @class = "text-danger" })
                    <div class="text-danger"> @Html.Raw(TempData["Mensaje"])</div>
                </div>

                <div class="text-center">
                    <button type="submit" class="btn btn-primary align-items-center  col-sm-2" name="btnEnviarRespuesta">Enviar Respuesta</button>
                    <a href="~/Alumno/Preguntas" class="btn btn-primary align-items-center  col-sm-2">Volver</a>
                </div>
            </fieldset>
        </form>
    </div>

</div>
