
@{
    ViewBag.Title = "VerRespuesta";
    Layout = "~/Views/Shared/AlumnosLayout.cshtml";
}


@model calificaciones.Entidades.Pregunta

<br />

<div class="container">
    <div>
        @Model.Clase.Nombre - @Model.Tema.Nombre
    </div>

    <h4>@Model.Nro. @Model.Pregunta1 </h4>

    <hr class="alert-light"/>

    <div class="container">
        <div>@Html.Raw(@TempData["Respuesta"].ToString())</div>

        <div class="text-center">
            <a href="~/Alumno/Preguntas" class="btn btn-primary align-items-center  col-sm-2">Volver</a>
        </div>
    </div>

</div>
