@{
    ViewBag.Title = "CrearPregunta";
    Layout = "~/Views/Shared/UsuarioLayout.cshtml";
}

@model  calificaciones.Entidades.Pregunta
<div class="container">
    <h1 class="m-4">Crear Pregunta</h1>
</div>
<div class="container">
    <div class="">
        <form action="@Url.Action("CrearPregunta", "Profesor")" method="post">
            <fieldset>

                <div class="form-group row">
                    <label for="Nro" class="col-sm-2 col-form-label text-right blockquote">Nro(*)</label>
                    @Html.TextBox("Nro", ViewData["Nro"].ToString(), new { @type = "number", @min = "0", @step = "1", @class = "form-control col-sm-4" })
                </div>
                <div class="form-group row">
                    <label for="Clase" class="col-sm-2 col-form-label text-right">Clase(*)</label>
                    @Html.DropDownListFor(p => p.IdClase, new SelectList(ViewData["Clase"] as List<calificaciones.Entidades.Clase>, "IdClase", "Nombre"), new { @class = "form-control col-sm-4" })


                    <label for="Tema" class="col-sm-2 col-form-label text-right">Tema(*)</label>
                    @Html.DropDownListFor(p => p.IdTema, new SelectList(ViewData["Tema"] as List<calificaciones.Entidades.Tema>, "IdTema", "Nombre"), new { @class = "form-control col-sm-4" })

                </div>
                <div class="form-group row">
                    <div clase="col-sm-6">
                    </div>
                    <label for="FechaDisponibleDesde" class="col-sm-2 col-form-label text-right">Disponible Desde</label>
                    @Html.TextBoxFor(p => p.FechaDisponibleDesde, "{0:s}", new { @class = "form-control  col-sm-4", @type = "datetime-local" })

                    <label for="FechaDisponibleHasta" class="col-sm-2 col-form-label text-right">Hasta</label>
                    @Html.TextBoxFor(p => p.FechaDisponibleHasta,"", new { @class = "form-control  col-sm-4", @type = "datetime-local" })
                </div>

                <div class="form-group row">
                    <div clase="col-sm-6">
                    </div>
                    <label for="Pregunta1" class="col-sm-2 col-form-label text-right">Pregunta(*)</label>
                    @Html.TextAreaFor(p => p.Pregunta1, new { @class = "form-control col-sm-10" })
                </div>

                <div class="text-center">
                    <button type="submit" class="btn btn-primary align-items-center col-sm-2" id="btnIngresar" name="btnIngresar">Crear</button>
                    <button type="submit" class="btn btn-primary align-items-center  col-sm-2" id="btnIngresar" name="btnIngresar">Cancelar</button>
                </div>
            </fieldset>
        </form>
    </div>
</div>
