@{
    ViewBag.Title = "EvaluarRespuestas";
    Layout = "~/Views/Shared/UsuarioLayout.cshtml";
}

@model  calificaciones.Entidades.Pregunta
<div class="container">
    <div>
        <h1 class="m-4"><b>Respuestas</b></h1>
        <b class="m-4">@Model.Tema.Nombre - @Model.Clase.Nombre</b>
    </div>
    
    <div class="d-flex">
        <h3>@Model.Pregunta1</h3>
        <div class="p-1 ml-3">
            (
            @if (@Model.FechaDisponibleDesde.Value.ToString("dd/MM/yyyy").ToString() != null)
            {
                @Model.FechaDisponibleDesde.Value.ToString("dd/MM/yyyy")
            }
            else
            {
                <p>Sin fecha</p>
            }
            -
            @if (@Model.FechaDisponibleHasta.Value.ToString("dd/MM/yyyy").ToString() != null)
            {
                @Model.FechaDisponibleHasta.Value.ToString("dd/MM/yyyy")
            }
            else
            {
                <p>Sin fecha</p>
            }
            )
        </div>
    </div>
    
    <br />
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Todas</a></li>
        <li class="breadcrumb-item"><a href="#">Sin Corregir</a></li>
        <li class="breadcrumb-item"><a href="#">Regular</a></li>
        <li class="breadcrumb-item"><a href="#">Mal</a></li>
    </ol>
</div>

<div class="container">
    <table class="table table-hover table-dark">
        <tbody>
            @{
                foreach (var respuesta in Model.RespuestaAlumnoes)
                {
                    <tr class="table-primary">
                        <td class="text-right">
                            <b>
                                @respuesta.FechaHoraRespuesta
                                <br />
                                @respuesta.Alumno.Nombre @respuesta.Alumno.Apellido
                            </b>
                        </td>
                        <td>@respuesta.Respuesta</td>
                        <td>@respuesta.ResultadoEvaluacion.Resultado</td>

                        <td>@respuesta.MejorRespuesta</td>
                    </tr>
                }}
        </tbody>
    </table>

    <div class="float-right">
        <ul class="pagination">
            <li class="page-item disabled">
                <a class="page-link" href="#">&laquo;</a>
            </li>
            <li class="page-item active">
                <a class="page-link" href="#">1</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="#">2</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="#">3</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="#">4</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="#">5</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="#">&raquo;</a>
            </li>
        </ul>
    </div>


</div>


