@{
    ViewBag.Title = "EvaluarRespuestas";
    Layout = "~/Views/Shared/UsuarioLayout.cshtml";
}

@model  calificaciones.Entidades.Pregunta
<div class="container">
    <div>
        <h1 class="m-4"><b>Respuestas</b></h1>
        <b class="m-4">@Model.Tema.Nombre - @Model.Clase.Nombre</b>
    </div>
    
    <div class="d-flex">
        <h3>@Model.Pregunta1</h3>
        <div class="p-1 ml-3">
            (
            @if (@Model.FechaDisponibleDesde == null)
            {
            <span>Sin fecha</span>
            }
            else
            {
                @Model.FechaDisponibleDesde.Value.ToString("dd/MM/yyyy");
            }
            -
            @if (@Model.FechaDisponibleHasta == null)
            {
                <span>Sin fecha</span>
            }
            else
            {
                @Model.FechaDisponibleHasta.Value.ToString("dd/MM/yyyy")

            }
            )
        </div>
    </div>
    
    <br />
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Todas</a></li>
        <li class="breadcrumb-item"><a href="#">Sin Corregir</a></li>
        <li class="breadcrumb-item"><a href="#">Regular</a></li>
        <li class="breadcrumb-item"><a href="#">Mal</a></li>
    </ol>
</div>

<div class="container">
    <ul class="list-group">
        @{
            var flag = true;
            if (Model.RespuestaAlumnoes.Count > 0)
            {
                foreach (var respuesta in Model.RespuestaAlumnoes)
                {
                    <li class="list-group-item justify-content-between align-items-center">
                        <div class="row align-items-center">
                            <div class="col-3">
                                <b>
                                    @respuesta.FechaHoraRespuesta
                                    <br />
                                    @respuesta.Alumno.Nombre @respuesta.Alumno.Apellido
                                </b>
                            </div>
                            <div class="col-6">
                                @respuesta.Respuesta
                            </div>
                            <div class="col-3">

                                @if (@respuesta.ResultadoEvaluacion == null)
                                {
                                    if (flag)
                                    {
                                        <div class="carousel-item-right">
                                            @Html.ActionLink("Correcta ", "EvaluarRespuestasGo", "Profesor", new { respuesta = respuesta.IdRespuestaAlumno, valor = 1}, new { @class = "btn btn-sm btn-outline-success col-lg-4" })
                                            @Html.ActionLink("Regular", "EvaluarRespuestasGo", "Profesor", new { respuesta = respuesta.IdRespuestaAlumno, valor = 2 }, new { @class = "btn btn-sm btn-outline-warning col-lg-3" })
                                            @Html.ActionLink("Mal", "EvaluarRespuestasGo", "Profesor", new { respuesta = respuesta.IdRespuestaAlumno, valor = 3 }, new { @class = "btn btn-sm btn-outline-danger col-lg-3" })
                                        </div>
                                        flag = false;
                                    }
                                    else
                                    {
                                        <div class="text-center">
                                            <cite title="Source Title">Pendiente</cite>
                                        </div>
                                    }

                                }
                                else
                                {
                                    switch (respuesta.ResultadoEvaluacion.IdResultadoEvaluacion)
                                    {
                                        //@Html.Raw renderiza html
                                        case 1:
                                            @Html.Raw("<b class = 'text-success'>");
                                            break;
                                        case 2:
                                            @Html.Raw("<b class = 'text-warning'>");
                                            break;
                                        default:
                                            @Html.Raw("<b class = 'text-danger'>");
                                            break;
                                    }
                                    @respuesta.ResultadoEvaluacion.Resultado
                                    @Html.Raw("</b>");
                                    if (@respuesta.MejorRespuesta)
                                    {
                                        <span class="badge badge-info">Mejor respuesta</span>
                                    }

                                }


                            </div>
                        </div>
                    </li>
                }

            }
            else
            {
                <div class="text-center">
                    <h4> <cite title="Source Title">No se encontraron respuestas.</cite></h4>
                   
                </div>
            }

        }
    </ul>
</div>
<div class="container">
    <div class="float-right">
        <ul class="pagination">
            <li class="page-item disabled">
                <a class="page-link" href="#">&laquo;</a>
            </li>
            <li class="page-item active">
                <a class="page-link" href="#">1</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="#">2</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="#">3</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="#">4</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="#">5</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="#">&raquo;</a>
            </li>
        </ul>
    </div>
    <br />

</div>



