@{
    ViewBag.Title = "EvaluarRespuestas";
    Layout = "~/Views/Shared/UsuarioLayout.cshtml";
}

@model  calificaciones.Entidades.Pregunta
<div class="container">
    <div>
        <h1 class="m-4"><b>Respuestas</b></h1>
        <b class="m-4">@Model.Tema.Nombre - @Model.Clase.Nombre</b>
    </div>
    
    <div class="d-flex">
        <h3>@Model.Pregunta1</h3>
        <div class="p-1 ml-3">
            (
            @if (@Model.FechaDisponibleDesde == null)
            {
            <span>Sin fecha</span>
            }
            else
            {
                @Model.FechaDisponibleDesde.Value.ToString("dd/MM/yyyy");
            }
            -
            @if (@Model.FechaDisponibleHasta == null)
            {
                <span>Sin fecha</span>
            }
            else
            {
                @Model.FechaDisponibleHasta.Value.ToString("dd/MM/yyyy")

            }
            )
        </div>
    </div>
    
    <br />
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Todas</a></li>
        <li class="breadcrumb-item"><a href="#">Sin Corregir</a></li>
        <li class="breadcrumb-item"><a href="#">Regular</a></li>
        <li class="breadcrumb-item"><a href="#">Mal</a></li>
    </ol>
</div>
<br />
<div class="container">
    <ul class="list-group">
        @{
            foreach (var respuesta in Model.RespuestaAlumnoes)
            {
                <li class="list-group-item justify-content-between align-items-center">
                    <div class="row align-items-center">
                        <div class="col-3">
                            <b>
                                @respuesta.FechaHoraRespuesta
                                <br />
                                @respuesta.Alumno.Nombre @respuesta.Alumno.Apellido
                            </b>
                        </div>
                        <div class="col-6">
                            @respuesta.Respuesta
                        </div>
                        <div class="col-3">



                            @if (@respuesta.ResultadoEvaluacion == null)
                            {
                                <div class="float-right">
                                    @Html.ActionLink("Correcta ", "EvaluarRespuestas", "Profesor", new { @class = "btn btn-sm btn-outline-success mb-0" })
                                    @Html.ActionLink("Regular", "EliminarPregunta", "Profesor", new { @class = "btn btn-sm btn-outline-warning" })
                                    @Html.ActionLink("Mal", "EliminarPregunta", "Profesor", new { @class = "btn btn-sm btn-outline-danger" })
                                </div>
                            }
                            else
                            {
                                @respuesta.ResultadoEvaluacion.Resultado
                                @respuesta.MejorRespuesta
                            }


                        </div>
                    </div>
                </li>
            }


        }
    </ul>
</div>
<div class="container">
    <div class="float-right">
        <ul class="pagination">
            <li class="page-item disabled">
                <a class="page-link" href="#">&laquo;</a>
            </li>
            <li class="page-item active">
                <a class="page-link" href="#">1</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="#">2</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="#">3</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="#">4</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="#">5</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="#">&raquo;</a>
            </li>
        </ul>
    </div>
    <br />

</div>



