@{
    ViewBag.Title = "Preguntas";
    Layout = "~/Views/Shared/ProfesorLayout.cshtml";
}
@model calificaciones.Models.Paginador<calificaciones.Entidades.Pregunta>
<div class="container">
    <h1 class="m-4">Admin Preguntas</h1>
    <div  class="">
        @{
            if (TempData["MensajeError"] != null)
            {
                <div class="alert alert-warning  form-control">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <p class="align-bottom"><strong>Atención!</strong> @TempData["MensajeError"]</p>
                </div>
            }
        }
    </div>
    <div class="text-right m-2">
        <b>@Html.ActionLink("Crear Pregunta", "Crear", "Profesor", new { @class = "btn btn-outline-info" })</b>
    </div>
</div>

<div class="container-fluid">
    <table id="example" class="display" style="width:100%">
        <thead>
            <tr>
                <th scope="col">Nro</th>
                <th scope="col">Clase</th>
                <th scope="col">Tema</th>
                <th scope="col">Pregunta</th>
                <th scope="col">Fecha Desde</th>
                <th scope="col">Fecha Hasta</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (var pregunta in Model.Resultado)
                {
                    <tr class="table-primary">
                        <td>@pregunta.Nro</td>
                        <td>@pregunta.Clase.Nombre</td>
                        <td>@pregunta.Tema.Nombre</td>

                        <td>@Html.ActionLink(@pregunta.Pregunta1, "ModificarPregunta", "Profesor", new { Nro = pregunta.Nro, Clase = pregunta.IdClase }, new { @class = "text-info" })</td>
                        <td>@pregunta.FechaDisponibleDesde</td>
                        <td>@pregunta.FechaDisponibleHasta</td>
                        <td>
                            <div class="btn-group btn-group-toggle">
                                <form>
                                    <button type="submit" class="btn btn-sm btn-outline-info" formaction="~/Profesor/EvaluarRespuestas" value="@pregunta.IdPregunta" name="idPregunta" formmethod="post">Evaluar</button>
                                </form>
                                @Html.ActionLink("Eliminar", "EliminarPregunta", "Profesor", new { Nro = pregunta.Nro, Clase = pregunta.IdClase }, new { @class = "btn btn-sm btn-outline-danger" })
                            </div>
                        </td>

                    </tr>
                }}
        </tbody>
    </table>

@*           
            <blockquote class="blockquote text-center">

                @if (Model.Resultado.Count() > 0)
                {
                    <span>
                        <strong>@Model.TotalRegistros</strong> registros encontrados
                    </span>
                    <span>&nbsp;|&nbsp;</span>
                    <span>
                        Página <strong>@(Model.PaginaActual)</strong> de
                        <strong>@Model.TotalPaginas</strong>
                    </span>
                    <span>&nbsp;|&nbsp;</span>
                }
                else
                {
                    <span>No hay resultados para esta búsqueda</span>
                    <span>&nbsp;|&nbsp;</span>
                }

                @if (Model.PaginaActual > 1)
                {
                    @Html.ActionLink("<<", "Preguntas", new { pagina = 1 },
                                    new { @class = "btn btn-sm btn-default" })
                    <span></span>
                    @Html.ActionLink("Anterior", "Preguntas", new { pagina = Model.PaginaActual - 1 },
                                    new { @class = "btn btn-sm btn-default" })
                }
                else
                {
                    @Html.ActionLink("<<", "Preguntas", new { pagina = 1 },
                                    new { @class = "btn btn-sm btn-default disabled" })
                    <span></span>
                    @Html.ActionLink("Anterior", "Preguntas", new { pagina = 1 },
                                    new { @class = "btn btn-sm btn-default disabled" })
                }
                <span></span>
                @if (Model.PaginaActual < Model.TotalPaginas)
                {
                    @Html.ActionLink("Siguiente", "Preguntas", new { pagina = Model.PaginaActual + 1 },
                                    new { @class = "btn btn-sm btn-default" })
                    <span></span>
                    @Html.ActionLink(">>", "Preguntas", new { pagina = Model.TotalPaginas },
                                    new { @class = "btn btn-sm btn-default" })
                }
                else
                {
                    @Html.ActionLink("Siguiente", "Index", new { pagina = Model.TotalPaginas - 1 },
                                    new { @class = "btn btn-sm btn-default disabled" })
                    <span></span>
                    @Html.ActionLink(">>", "Index", new { pagina = Model.TotalPaginas },
                                    new { @class = "btn btn-sm btn-default disabled" })
                }

            </blockquote>


</div>

*@