@{
    ViewBag.Title = "Respuestas";
    Layout = "~/Views/Shared/ProfesorLayout.cshtml";
}

@model  List<calificaciones.Entidades.RespuestaAlumno>
<div class="">
    <div>
        <h1 class="m-4"><b>Respuestas</b></h1>
    </div>

    @Html.Raw(TempData["Mensaje"])
    <br />
    <ol class="breadcrumb">
        <li><a class="btn btn-outline-info" href="/Profesor/Respuestas/Todas">Todas</a></li>
        <li><a class="btn btn-outline-info" href="/Profesor/Respuestas/SinCorregir">Sin Corregir</a></li>
        <li><a class="btn btn-outline-info" href="/Profesor/Respuestas/Correctas">Correcta</a></li>
        <li><a class="btn btn-outline-info" href="/Profesor/Respuestas/Regular">Regular</a></li>
        <li><a class="btn btn-outline-info" href="/Profesor/Respuestas/Mal">Mal</a></li>
    </ol>
</div>

<div class="container-fluid">

    <table id="example" class="display" style="width:100%">
        <thead>
            <tr>
                <th scope="col">Alumno</th>
                <th scope="col">Fecha</th>
                <th scope="col">Respuesta</th>
                <th scope="col">Pregunta</th>
                <th scope="col">Acción</th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (var respuesta in Model)
                {
                    <tr class="table-primary">
                        <td>@respuesta.Alumno.Nombre @respuesta.Alumno.Apellido</td>
                        <td>@respuesta.FechaHoraRespuesta</td>
                        <td>@respuesta.Respuesta</td>
                        <td>@respuesta.Pregunta.Pregunta1</td>


                        <td>@Html.ActionLink("Evaluar respuestas de pregunta", "EvaluarRespuestas", "Profesor", new { Nro = respuesta.Pregunta.Nro, Clase = respuesta.Pregunta.IdClase }, new { @class = "btn btn-sm btn-outline-info" })</td>

                    </tr>
                }}

        </tbody>
        <tfoot>
            <tr>
                <th scope="col">Alumno</th>
                <th scope="col">Fecha</th>
                <th scope="col">Respuesta</th>
                <th scope="col">Pregunta</th>
                <th scope="col">Acción</th>
            </tr>
        </tfoot>
    </table>

</div>




