<script src="~/Scripts/Rich text wysiwyg/tinymce.min.js"></script>
<script src="~/Scripts/Rich text wysiwyg/tiny.js"></script>

@using calificaciones.Session
@{
    Layout = "~/Views/Shared/BaseLayout.cshtml";
}



@{ if (SessionManagement.Rol == null)
    {
        Response.Redirect("~/HOME/Ingresar");
    }
    else if (SessionManagement.Rol.ToString() == RolesPermisos.ROL_PROFESOR)
    {
        @Html.Partial("pv_ProfesorNav");
    }
    else if (SessionManagement.Rol.ToString() == RolesPermisos.ROL_ALUMNO)
    {
        @Html.Partial("pv_AlumnoNav");
    }
}

<div class="">
    @RenderBody()
</div>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@RenderSection("scripts", required: false)
