@using calificaciones.Session
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/BaseLayout.cshtml";
}

@{ if (SessionManagement.Rol == null)
    {
        Response.Redirect("~/HOME/Ingresar");
    }
    else if (SessionManagement.Rol.ToString() == RolesPermisos.ROL_PROFESOR)
    {
        
    }
    else if (SessionManagement.Rol.ToString() == RolesPermisos.ROL_ALUMNO)
    {
        @Html.Partial("pv_AlumnoNav");
    }
}




@Html.Partial("pv_ProfesorNav")
<div class="">
    @RenderBody()
</div>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@RenderSection("scripts", required: false)
